ul,
ol {
	margin: 0 0 30px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 30px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 30px 30px;
}
