// Colors.
$zen_wpb-color-white: #fff;
$zen_wpb-color-black: #333;
$zen_wpb-color-light-black: #666;
$zen_wpb-color-royalblue: #4169e1;
$zen_wpb-color-green: #8fba55;
$zen_wpb-color-gray: #ccc;
$zen_wpb-color-light-gray: #f1f1f1;

// Typography
$zen_wpb-primary-font-family: helvetica;
$zen_wpb-heading-font-family: courier;
$zen_wpb-body-line-height: 1.5;
$zen_wpb-pre-line-height: 1.6;
